<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

	<parameters>
		<parameter key="vat.service.class">Sparkling\VATBundle\Service\VATService</parameter>
		<parameter key="vat.validator.class">Sparkling\VATBundle\Validator\VATValidator</parameter>
	</parameters>

	<services>
		<service id="vat.service" class="%vat.service.class%" />

		<service id="vat.validator" class="%vat.validator.class%">
		    <argument type="service" id="vat.service" />
		    <tag name="validator.constraint_validator" alias="vat.validator" />
		</service>
	</services>
</container>